.block {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url("./../../img//background.jpg") 0 0 no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.page {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #034381;
    padding: 40px;
    border: 8px solid #44b4cc;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

.pageMedia {
    width: 90%;
    padding: 20px;
}

.heading {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.headingMedia {
    font-size: 23px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBlock {
    position: relative;
    width: 80%;
    margin-bottom: 30px;
}

.inputBlockMedia {
    width: 85%;
}

.input {
    font-family: "exo2";
    font-size: 16px;
    outline: none;
    background: #034381;
    -webkit-appearance: none;
    -webkit-border: none;
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 2px solid #44b4cc;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 10px 15px;
    color: #fff;
    font-size: 20px;
}

.input::placeholder {
    color: #fff;
}

.input:focus::placeholder {
    color: #034381;
}

.label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: text;
    z-index: -1;
    transition: all .2s;
    color: #fff;
}

.input:focus + .label {
    top: 0;
    left: 0;
    transform: translateY(-85%);
    font-weight: bold;
}

.buttons {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    font-family: "exo2";
    padding: 15px 0;
    display: inline-block;
    width: 40%;
    border: 3px solid #44b4cc;
    background: #034381;
    color: #fff;
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    transition: .3s;
}

.btnMedia {
    width: 46%;
    font-size: 16px;
}

.btn:nth-child(2) {
    margin-right: 0;
    background: #034381;
}

.btn:hover {
    background: #00e600;
}

.message {
    position: absolute; 
    top: 50px; 
    right: 50px; 
    background: #034381; 
    padding: 0 20px; 
    border-radius: 5px; 
    transition: .3s;
}

@keyframes loading {
    0% {
        background: #00e600;
    }
    50% {
        background: #000;
    }
    100% {
        background: #00e600;
    }
}

@keyframes loading2 {
    0% {
        background: #000;
    }
    50% {
        background: #00e600;
    }
    100% {
        background: #000;
    }
}

.loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background: #ffff00;
    outline: none;
    border: none;
    animation: loading .5s infinite;
}

.loading:nth-child(2) {
    margin-right: 0;
    background: #000;
    animation: loading2 .5s infinite;
}